In [28]:
import datetime as dt
import random as random
import os
import numpy as np
import pandas as pd
os.getcwd()

'/Users/maggiec/Documents/kaggle/crime_rate'

In [29]:
test0=pd.read_csv('test.csv')
train0=pd.read_csv('train.csv')

In [6]:
test0.head()
train0.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [107]:
train=train0.sample(10)
train=train0

In [108]:
train.dtypes

Dates          object
Category       object
Descript       object
DayOfWeek      object
PdDistrict     object
Resolution     object
Address        object
X             float64
Y             float64
dtype: object

In [109]:
train.Dates.dtype

dtype('O')

In [ ]:
a=pd.to_datetime(train.Dates)
a=train.Dates
a
a1=a.apply(lambda x:datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
a1.apply(lambda x:x.month)
a1.apply(lambda x:x.week)

In [113]:
tmp=train.Dates.apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
train['week']=tmp.apply(lambda x:x.week)

In [114]:
tmp=train.Dates.apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S").week)

AttributeError: 'datetime.datetime' object has no attribute 'week'

In [ ]:
train.head

In [ ]:
#train["DayOfWeek"]=train["DayOfWeek"].apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))

tmp=datetime.strptime(train["DayOfWeek"].iloc[1],"%A")
tmp

In [ ]:
datetime.strptime(train["DayOfWeek"].iloc[2],"%A").weekday()

In [ ]:
datetime.strptime(train["DayOfWeek"].iloc[1],"%A").weekday()
datetime.strptime(train["DayOfWeek"].iloc[3],"%A").weekday()

In [ ]:
tmp.weekday()

In [ ]:
train["DayOfWeek"].apply(lambda x:weekday(x))

In [ ]:
train["DayOfWeek"] = train["DayOfWeek"].astype('category').dt.day

In [ ]:
train["DayOfWeek"].dtypes
#how do you change Day of Week to int??

In [127]:
train["Category"] = train["Category"].astype('category')
train["PdDistrict"] = train["PdDistrict"].astype('category')

In [106]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,month,year,week
419604,2009-06-22 16:00:00,LARCENY/THEFT,GRAND THEFT OF PROPERTY,Monday,CENTRAL,NONE,STOCKTON ST / UNION ST,-122.409194,37.800444,6,2009,26
631202,2006-06-01 11:06:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Thursday,NORTHERN,"ARREST, BOOKED",1900 Block of POLK ST,-122.421564,37.794585,6,2006,22
634196,2006-05-17 13:30:00,ASSAULT,THREATS AGAINST LIFE,Wednesday,RICHMOND,NONE,700 Block of CLEMENT ST,-122.467102,37.782771,5,2006,20
797309,2004-02-04 07:35:00,DRUG/NARCOTIC,POSSESSION OF METH-AMPHETAMINE,Wednesday,MISSION,NONE,3800 Block of 18TH ST,-122.429490,37.761276,2,2004,6
196775,2012-10-03 18:45:00,SUSPICIOUS OCC,SUSPICIOUS ACT TOWARDS FEMALE,Wednesday,MISSION,NONE,3500 Block of CESAR CHAVEZ ST,-122.420833,37.747999,10,2012,40

In [134]:
from __future__ import print_function

In [135]:
import sys
print(sys.argv, len(sys.argv))

['/Users/maggiec/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py', '-f', '/Users/maggiec/.ipython/profile_default/security/kernel-a54261b6-c04d-4124-b01b-953b3ab5e4d1.json', '--profile-dir', '/Users/maggiec/.ipython/profile_default'] 5